@charset "UTF-8";
/*COLORS*/
/*FONT-SIZE*/
/*BREAKPOINTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700&family=Shrikhand&display=swap");
h4, .menu_h1 {
  /*Seulement pour les menus*/
  font-family: "Shrikhand", cursive;
}

/*TYPOGRAPHY POUR L'INDEX*/
body {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
}

footer p {
  font-weight: normal;
}

.choice p {
  font-weight: bold;
}

.far,
.card-text__icon2_4,
.card-text__icon2 .fa-heart,
.menu_h1,
.menu i {
  font-size: 28px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: 0;
  background-color: transparent;
}

header {
  height: 70px;
  position: relative;
}

.logo {
  position: absolute;
  display: flex;
  flex: 0.95;
}

.logo img {
  width: 180px;
  height: 30px;
}

/****************** PARIS BANNER ******************/
.paris {
  box-shadow: inset 0 5px 4px -3px #bfbfbf;
  background-color: #e8e8e8;
}

.paris__text {
  height: 50px;
  margin-left: 15px;
}

.titleh1-btn-container {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
}

.titleh1 {
  flex-direction: column;
}

footer {
  background-color: #333333;
  color: #fff;
  padding: 20px;
}
@media screen and (min-width: 462px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

footer p {
  display: inline-block;
  margin-bottom: 0;
}

footer i {
  margin-right: 15px;
}

.fa-hands-helping {
  font-size: 13px;
  margin-right: 13px;
}

a {
  text-decoration: none;
  display: contents;
}

.color-white {
  color: #fff;
}

address {
  font-style: normal;
}

.btn {
  background-image: linear-gradient(-5deg, #9356DC, #FF79DA 95%);
  height: 50px;
  width: 220px;
  margin: 20px 0 50px 0;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 4px #d9d9d9;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 8px #bfbfbf;
}
.btn__text {
  display: inline-block;
}
.btn--small {
  width: 180px;
  margin: 42px 0 56px 0;
}

/* background-image: radial-gradient(ellipse at 25% 20%, $color-secondary, $color-primary); */
.section-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  height: 100vh;
  width: 100%;
  line-height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide 3s;
  opacity: 0.8;
  z-index: -1;
  /*animation: display 1s timing-function 1s 1 direction fill-mode;*/
}

.loader {
  position: relative;
  top: 0;
  right: 0px;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.loader-circles {
  border-radius: 100px;
  /*Border radius à la taille de l'élément permet d'obternir un cercle*/
  border: 4px solid transparent;
  /*La dernière valeur pour opacité*/
  border-top-color: #9356DC;
  animation: spin 2.4s linear forwards;
  animation-iteration-count: 1;
}

.loader-circles:after,
.loader-circles:before {
  content: "";
  position: absolute;
  border-radius: 50px;
  border: 4px solid transparent;
}

.loader-circles:after {
  top: 5px;
  /*remplacer les valeurs négatives par des positives a réduit la taille du cercle*/
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-top-color: #FF79DA;
  animation: spin 2.3s linear forwards;
  animation-iteration-count: 1;
}

.loader-circles:before {
  top: 14px;
  left: 14px;
  bottom: 14px;
  right: 14px;
  border-top-color: #99E2D0;
  animation: spin 1.2s linear forwards;
  animation-iteration-count: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility: visible;
    z-index: 95;
  }
  /*à 0% de l'animation la position est à 0degré, elle ne tourne pas*/
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    z-index: -1;
  }
  /*à 100% de l'animation la position est à 360degrés*/
}
@keyframes hide {
  0% {
    display: flex;
    z-index: 50;
    visibility: visible;
  }
  100% {
    display: none;
    z-index: -1;
    visibility: hidden;
  }
}
/*@import "../utils/mixins";*/
#function-section {
  padding: 40px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
@media screen and (min-width: 462px) {
  #function-section {
    min-width: 100%;
    align-items: center;
  }
  #function-section, #function-section .function-cards {
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
  }
}
@media screen and (min-width: 1637px) {
  #function-section {
    padding: 64px 20px;
    margin-bottom: 0%;
  }
}

.function-cards {
  min-width: 100%;
  max-width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 462px) {
  .function-cards {
    column-gap: 20px;
  }
}
@media screen and (min-width: 1634px) {
  .function-cards {
    min-width: 89%;
    max-width: 89%;
    align-items: center;
  }
}

.function-cards__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  height: 80px;
  width: 100%;
  border-radius: 20px;
  margin-top: 25px;
  min-width: 300px;
  max-width: 422px;
  box-shadow: 0 4px 8px 4px #e5e5e5;
}
.function-cards__card:hover {
  background-color: #f2eafb;
}
.function-cards__card:hover:hover .phone {
  color: #9356DC;
}
@media screen and (min-width: 940px) {
  .function-cards__card {
    max-width: 31%;
    min-width: 31%;
  }
}
@media screen and (min-width: 1346px) {
  .function-cards__card {
    margin-top: 0;
  }
}

.number-icon {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  margin-left: -10px;
  border-radius: 20px 0 0 20px;
}

.number {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 30px;
}

.phone {
  flex: 1;
  width: 100%;
}

.function-cards__card .phone {
  color: #737373;
}

.choice {
  width: 75%;
  font-weight: bold;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 40px 20px 64px 20px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    flex-direction: row;
    justify-content: space-between;
  }
}

/***************************** EFFET COEUR MENU*****************************/
.card-text {
  position: relative;
}

.card-text__icon,
.card-text__icon_3 {
  z-index: 2;
  opacity: 1;
  background-color: #fff;
  transition: opacity 800ms ease-out;
}
.card-text__icon:hover,
.card-text__icon_3:hover {
  opacity: 0;
}

.card-text__icon_3 {
  background-color: #f2f2f2;
}

.card-text__icon2_4, .card-text__icon2 .fa-heart {
  z-index: 1;
  /*$gradient se strouve dans les variables*/
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-text__icon,
.card-text__icon2,
.card-text__icon2_4,
.card-text__icon_3 {
  position: absolute;
  width: 30px;
  display: flex;
}

.card-text__icon,
.card-text__icon2 {
  right: 20px;
}

.card-text__icon2_4,
.card-text__icon_3 {
  right: 50px;
  bottom: 11px;
}

/****************** CARTES RESTAURANT **********************/
a {
  color: #000;
}

.card {
  height: 290px;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 #d9d9d9;
}
@media screen and (min-width: 768px) {
  .card {
    min-width: 48%;
    max-width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    min-width: 32%;
    max-width: 32%;
  }
}
@media screen and (min-width: 1346px) {
  .card {
    min-width: 24%;
    max-width: 24%;
  }
}

.card__image img {
  object-fit: cover;
  height: 190px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.card__image img__menu img {
  border-radius: 0%;
}

span {
  position: absolute;
  height: 32px;
  width: 90px;
  right: 20px;
  top: 20px;
  color: #278870;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}

.card-text {
  border-radius: 0 0 20px 20px;
}
.card-text-mini {
  border-radius: 20px;
}

.card-text, .card-text-mini {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background-color: #fff;
}

.card-text__text {
  flex-direction: column;
}

/********************** HEADER MENU ************************/
.arrow {
  display: flex;
  margin-left: 30px;
  flex: 0.15;
  font-size: 19px;
}

.empty {
  flex: 1;
}

.omf-banner {
  position: relative;
  background-color: #f2f2f2;
}

.omf-banner__image img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.menu {
  background-color: #f2f2f2;
  margin: -61px 0 0 0;
  position: absolute;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  border-radius: 45px 45px 0 0;
  padding: 15px 35px 0 20px;
}

.menu_h1 {
  margin-bottom: 0;
}

.global-padding-menu {
  padding: 20px 17px 0;
}
@media screen and (min-width: 820px) {
  .global-padding-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.meal h2 {
  border-bottom: solid #99E2D0 3px;
  width: 45px;
  font-weight: lighter;
  font-size: 19px;
}

.meal {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
@media screen and (min-width: 820px) {
  .meal {
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .meal {
    min-width: 32%;
    max-width: 32%;
  }
}
.meal__cards {
  max-width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-text-mini {
  border-radius: 20px;
  height: 85px;
  margin-top: 20px;
  box-shadow: 0 4px 4px 0 #d9d9d9;
}
.card-text-mini__price {
  display: flex;
  align-items: flex-end;
}

.card-text-mini {
  animation: 500ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
  animation-delay: 50ms;
}
.card-text-mini + .opacity-delay {
  animation: 900ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
  animation-delay: 50ms;
}
.card-text-mini + .opacity-delay-two {
  animation: 1200ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
  animation-delay: 50ms;
}
.card-text-mini + .opacity-delay-three {
  animation: 1400ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
  animation-delay: 50ms;
}

@keyframes opacityshift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-text-mini:hover, .btn, .function-cards__card {
  cursor: pointer;
}

.card-text-mini__price {
  font-weight: bold;
  white-space: nowrap;
  right: 20px;
  bottom: 20px;
}

.card-text__text {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
}
.card-text__text > div {
  display: inline-block;
}
.card-text__text p, .card-text__text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text-mini {
  overflow: hidden;
}
.card-text-mini .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 85px;
  width: 80px;
  border-radius: 0 20px 20px 0;
  margin-left: 20px;
  position: absolute;
  top: 0;
  right: -80px;
}
.card-text-mini .check__icon {
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.check, .card-text-mini__price {
  transition: transform 0.5s ease-in-out;
}

.ghost {
  width: 0px;
  height: 50px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.card-text-mini:hover .check, .card-text-mini:hover .card-text-mini__price {
  transform: translate(-80px);
}
.card-text-mini:hover .ghost {
  width: 81px;
}
.card-text-mini:hover .check__icon {
  animation: turn 0.5s linear;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
.card-text__text h3 {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
@media screen and (min-width: 820px) and (max-width: 1199px) {
  .btn-container {
    min-width: 48%;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

/*# sourceMappingURL=styles.css.map */
