@import "./utils/variables";

@import "./base/typography";
@import "./base/base";

@import "./layout/header";
@import "./layout/footer";

@import "./components/buttons";
@import "./components/loader";

@import "./pages/index";
@import "./pages/menu";
.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

p{
    margin-top: 8px;
    margin-bottom: 8px;
}


/* VARIABLES dans le dossier utils/variable*/



/****************************** FONCTIONS ******************************/

/************************* RESTAURANTS **************************/

/************* MEDIA SCREEN FONCTION **********************/


/************* MEDIA SCREEN FONCTION FIN **********************/








/****************************** HEADER ******************************/



/**************************** BANNER INDEX *****************************/

 /************************** FONCTIONNEMENT ****************************/

/************************* RESTAURANTS *****************************/

/*@keyframes appear {
    0% {opacity: 1; z-index: 1;}
    100%{opacity: 1; z-index: 3;visibility: visible;}
}*/
/***************************** FIN EFFET COEUR *************************************/
/***************************** CARTES RESTAURANTS DEBUT *************************************/


/**************************** CARTES MENU DEBUT *********************************/


/*********************************** FOOTER ***********************************/



/****************************** COMPOSANTS ******************************/



/****************************** MENUS ******************************/


/****************************** LOADER SPINNER ******************************/


/****************************** MEDIA QUERIES ******************************/
/*@mixin tablette{
    @media screen and (min-width: map-get($breakpoints, tablette)){
        @content;
    }
}*/