footer
{
    background-color: lighten($black, 20%) ;
    color: $white;
    padding: 20px;
    @media screen and (min-width: 462px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
footer p {
    display: inline-block;
    margin-bottom: 0;
}
footer i {
    margin-right: 15px;
}
.fa-hands-helping {
    font-size: 13px;
    margin-right: 13px;
}
a {
    text-decoration: none;
    display: contents;
}
.color-white {
    color: $white;
}
address {
    font-style: normal;
}