@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

h1 {
    font-family: 'Shrikhand', cursive;
}

/*VARIABLES*/
/*COLORS*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


