@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
/*h2 { Seulement pour les menus
    font-family: 'Shrikhand', cursive;
}*/
p, .btn__text, h1, h2, .number {
    font-family: 'Roboto', sans-serif;
   
    /*text-align: center;*/
}
*
{
    box-sizing: border-box;
}
.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
html, body {
    margin: 0;
}
/****************************** VARIABLES*****************************/
/*COLORS*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #fff;
$black: #000;
$grey: #f2f2f2;






/****************************** FONCTIONS ******************************/










/****************************** SELECTEURS ******************************/
.logo{
    height: 70px;
}
.logo img
{
    width: 180px;
    height: 30px;
}
.paris {
   
   background-color: gray;
}
.paris__text {
    height: 50px;
}
.titleh1-btn-container {
    background-color: $grey;
    text-align: center;
}
.titleh1 {
    flex-direction: column;
}
 
.function-section {
    padding: 0 20px;
}
.function-cards__first {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $grey;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
} 

.number-icon {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    /*background-color: blue;*/
    flex: 1;
    margin-left: -10px;
    border-radius: 20px 0 0 20px;
}
.number {
    height: 20px;
    width: 20px;
    background-color: $color-primary;
    color: $white;
    border-radius: 30px;
}
.phone {
    flex: 1;
    width: 100%;
   /* background-color: chartreuse;*/
}
.choice {
    width: 75%;
   /* background-color: cadetblue;*/
}

/****************************** COMPOSANTS ******************************/
.btn {
    background-image: radial-gradient(ellipse at 25% 20%, $color-secondary, $color-primary);
    height: 50px;
    width: 220px;
    margin: 20px 0 50px 0;
    color: $white;
    border-radius: 30px;
    &__text{
        display: inline-block;
    }   
}