@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
h4, .menu_h1 {
  /*Seulement pour les menus*/
  font-family: "Shrikhand", cursive;
}

/*TYPOGRAPHY POUR L'INDEX*/
p, .paris__text, .btn__text, h1, h2, h3, .number, span, a, .card-text-mini__price {
  font-family: "Roboto", sans-serif;
  /*text-align: center;*/
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

html, body {
  margin: 0;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

/****************************** VARIABLES*****************************/
/*COLORS*/
/*FONT-SIZE*/
/*BREAKPOINTS*/
/****************************** FONCTIONS ******************************/
/****************************** SELECTEURS ******************************/
header {
  height: 70px;
  position: relative;
}

.arrow {
  display: flex;
  margin-left: 30px;
  flex: 0.15;
  font-size: 19px;
}

.empty {
  flex: 1;
}

.logo {
  position: absolute;
  display: flex;
  flex: 0.95;
}

.logo img {
  width: 180px;
  height: 30px;
}

.paris {
  box-shadow: inset 0 5px 4px -3px #bfbfbf;
  background-color: #e8e8e8;
}

.paris__text {
  height: 50px;
  margin-left: 15px;
}

.titleh1-btn-container {
  background-color: #f2f2f2;
  text-align: center;
}

.titleh1 {
  flex-direction: column;
}

.function-section {
  padding: 40px 20px 64px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
@media screen and (min-width: 462px) {
  .function-section {
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100%;
    align-items: center;
  }
}
@media screen and (min-width: 1637px) {
  .function-section {
    padding: 64px 20px;
    margin-bottom: 0%;
  }
}

.function-cards {
  min-width: 100%;
  max-width: 100%;
  /* background-color: blue;*/
}
@media screen and (min-width: 462px) {
  .function-cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}
@media screen and (min-width: 1634px) {
  .function-cards {
    min-width: 89%;
    max-width: 89%;
    align-items: center;
  }
}

.function-cards__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  height: 80px;
  width: 100%;
  border-radius: 20px;
  margin-top: 25px;
  min-width: 300px;
  max-width: 422px;
  box-shadow: 0 4px 8px 4px #e5e5e5;
}
.function-cards__card:hover {
  background-color: #f2eafb;
}
.function-cards__card:hover:hover .phone {
  color: #9356DC;
}
@media screen and (min-width: 940px) {
  .function-cards__card {
    max-width: 31%;
    min-width: 31%;
  }
}
@media screen and (min-width: 1346px) {
  .function-cards__card {
    margin-top: 0;
  }
}

.number-icon {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  /*background-color: blue;*/
  flex: 1;
  margin-left: -10px;
  border-radius: 20px 0 0 20px;
}

.number {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 30px;
}

.phone {
  flex: 1;
  width: 100%;
  /* background-color: chartreuse;*/
}

.function-cards__card .phone {
  color: #737373;
}

.choice {
  width: 75%;
  font-weight: bold;
  /* background-color: cadetblue;*/
}

.restaurants {
  background-color: #f2f2f2;
  padding: 40px 20px 64px 20px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    flex-direction: row;
    justify-content: space-between;
  }
}

a {
  color: #000;
}

.card {
  height: 290px;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 #d9d9d9;
}
@media screen and (min-width: 768px) {
  .card {
    min-width: 48%;
    max-width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    min-width: 32%;
    max-width: 32%;
  }
}
@media screen and (min-width: 1346px) {
  .card {
    min-width: 24%;
    max-width: 24%;
  }
}

.card__image img {
  object-fit: cover;
  height: 190px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.card__image img__menu img {
  border-radius: 0%;
}

.card-text, .card-text-mini {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}
.card-text__text, .card-text-mini__text {
  flex-direction: column;
}

.card-text-mini:hover, .btn, .function-cards__card {
  cursor: pointer;
}

.card-text-mini__price {
  font-weight: bold;
}

/*p, h3 { à déclencher uniquement pendant l'animation
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;

}*/
.card-text__text h3 {
  margin: 0;
}

.card-text__icon {
  display: flex;
}

span {
  position: absolute;
  height: 32px;
  width: 90px;
  right: 20px;
  top: 20px;
  color: #278870;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 2px;
}

footer {
  background-color: #333333;
  color: #fff;
  padding: 20px;
}

footer p {
  display: inline-block;
}

footer i {
  margin-right: 15px;
}

.fa-hands-helping {
  font-size: 13px;
  margin-right: 13px;
}

a {
  text-decoration: none;
  display: contents;
}

.color-white {
  color: #fff;
}

address {
  font-style: normal;
}

/****************************** COMPOSANTS ******************************/
.btn-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
@media screen and (min-width: 820px) and (max-width: 1199px) {
  .btn-container {
    min-width: 48%;
  }
}

.btn {
  background-image: radial-gradient(ellipse at 25% 20%, #FF79DA, #9356DC);
  height: 50px;
  width: 220px;
  margin: 20px 0 50px 0;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 4px #d9d9d9;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 8px #bfbfbf;
}
.btn__text {
  display: inline-block;
}
.btn--small {
  width: 180px;
  margin: 42px 0 56px 0;
}

/****************************** MENUS ******************************/
.omf-banner {
  position: relative;
  background-color: #f2f2f2;
}

.omf-banner__image img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  overflow: hidden;
  /*border-radius: 0 0 -15px -15px;*/
}

.menu {
  background-color: #f2f2f2;
  margin: -61px 0 0 0;
  position: absolute;
  display: flex;
  min-width: 100%;
  max-width: 100%;
  border-radius: 45px 45px 0 0;
  padding: 15px 35px 0 20px;
}

.menu_h1 {
  margin-bottom: 0;
  font-size: 28px;
}

.menu i {
  font-size: 28px;
  font-style: normal;
}

.global-padding-menu {
  padding: 20px 17px 0;
}
@media screen and (min-width: 820px) {
  .global-padding-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.meal h2 {
  border-bottom: solid #99E2D0 3px;
  width: 45px;
  font-weight: lighter;
  font-size: 19px;
}

.meal {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
@media screen and (min-width: 820px) {
  .meal {
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .meal {
    min-width: 32%;
    max-width: 32%;
  }
}
.meal__cards {
  max-width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-text-mini {
  border-radius: 20px;
  height: 85px;
  margin-top: 20px;
  box-shadow: 0 4px 4px 0 #d9d9d9;
}
.card-text-mini__price {
  display: flex;
  align-items: flex-end;
}

/****************************** MEDIA QUERIES ******************************/

/*# sourceMappingURL=styles.css.map */
