
/********************** HEADER MENU ************************/
.arrow
{
   display: flex;
   margin-left: 30px;
   flex: .15;
   font-size: map-get($font-size, title2);
}
.empty {
    flex: 1;
}

.omf-banner {
    position: relative;
     background-color: $grey;
 }
 .omf-banner__image img {
     object-fit: cover;
     height:300px ;
     width: 100%;
     overflow: hidden;
 }
 .menu {
     background-color: $grey;
     margin: -61px 0 0 0;
     position: absolute;
     display: flex;
     min-width: 100%;
     max-width: 100%;
     border-radius: 45px 45px 0 0;
     padding: 15px 35px 0 20px;
 }
 .menu_h1 {
     margin-bottom: 0;
     font-size: map-get($font-size , title1);
 }
 .menu i {
     font-size: map-get($font-size, title1 );
     font-style: normal;
 }
 .global-padding-menu {
     padding: 20px 17px 0 ;
     @media screen and (min-width: 820px){
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     
 }
 .meal h2{
     border-bottom: solid $color-tertiary 3px;
     width: 45px;
     font-weight: lighter;
     font-size: map-get($font-size, title2 );
 }
  .meal {
     display: flex;
     flex-direction: column;
     min-width: 100%;
     @media screen and (min-width: 820px) {
         min-width: 48%;
         max-width: 48%;
         margin-bottom: 30px;
     }
     @media screen and (min-width: 1200px) {
         min-width: 32%;
         max-width: 32%;
     }
     &__cards {
         max-width: 100%;
     }
 }
 .flex-between {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     
 }
 .card-text-mini {
     border-radius: 20px;
     height: 85px;
     margin-top: 20px;
     box-shadow: 0 4px 4px 0 darken($grey, 10%);
     &__price {
         display: flex;
         align-items: flex-end;
     }
 }

.card-text-mini{
    animation: 500ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
    animation-delay: 50ms;
    & + .opacity-delay { 
        animation: 700ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
        animation-delay: 50ms;
       &-two {
        animation: 900ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
        animation-delay: 50ms;
        }
    }
    
}
/*.meal-cards {
    
    /*animation: 200ms cubic-bezier(0.55, 0.06, 0.68, 0.19) 0ms 1 normal none running opacityshift;*/
    /*animation: 500ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
}

.dish-cards {
    animation: 750ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
}
.dessert-cards {
    animation: 1000ms cubic-bezier(0.87, 0.04, 0.98, -0.23) 0ms 1 normal none running opacityshift;
}*/

@keyframes opacityshift {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
.card-text-mini:hover, .btn, .function-cards__card {
    cursor: pointer;
}
.card-text-mini__price {
    font-weight: bold;
    white-space: nowrap;
    /*display: inline-block;*/
    right: 20px;
    bottom: 20px;
    transition: transform .5s ease-in-out;   
}
.card-text__text{
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    > div {
        display: inline-block;
        background-color: greenyellow;
    }
    
    p, h3 { 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.card-text-mini {
    overflow: hidden;
   .check {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        height: 85px;
        width: 80px;
        border-radius: 0 20p 20p 0;
        margin-left: 20px;
        position: absolute;
        top: 0;
        right: -80px;
        transition: transform .5s ease-in-out;
        &:hover {
            transform: translate(-80px);
            
        }
        &__icon{
        background: $white;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }
}
.ghost{
    width: 0px;
    height: 50px;
    transition-duration: .5s;
  }   
.card-text-mini:hover .check{
    transform: translate(-80px);
    .check__icon{
        animation: turn .5s linear;
    }
}
.card-text-mini:hover .card-text-mini__price{
    transform: translate(-80px);
}
.card-text-mini:hover {
    .ghost{width: 80px;}
}


@keyframes turn {
    0% { transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.card-text__text h3 {
    margin: 0;
}
.card-text__icon {
    display: flex;
}

.btn-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
    @media screen and (min-width:820px )and (max-width:1199px) {
        min-width: 48%;
    }
}