/*COLORS*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #fff;
$black: #000;
$grey: #f2f2f2;

/*FONT-SIZE*/
$font-size:(title1: 28px, title2: 19px, title3: 17px);

/*BREAKPOINTS*/
$breakpoints:('tablette': 462px);